* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cascadia code;
}
/* .svg-wrapper {
    display: block;
    background-image: url("data:image/svg+xml,%3Ca href='https://storyset.com/work'%3EWork illustrations by Storyset%3C/a%3E");

} */